<main class="main">

	<h2 class="main--title"> Crea tu tarjeta de visita</h2>
	<p class="main--item">Crea mejores contactos profesionales de forma fácil y cómoda</p>
	<ul class="main--list">
		<li class="main--list_item">Diseña
			<i class="fa-solid fa-object-ungroup"></i>
		</li>
		<li class="main--list_item">Rellena
			<i class="fa-regular fa-keyboard"></i>
		</li>

		<li class="main--list_item"> Comparte
			<i class="fa-solid fa-share-nodes"></i>
		</li>

	</ul>
	<button class="main--button"><a class="main--button_item" href="create-card.html">COMENZAR</a></button>
</main>