// Esta es la variable que usaremos como tamaño por defecto
/*$defaultFontSize: 16;*/

// media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts

$font__heading:'Merriweather', serif;
$font__text: 'Open Sans',sans-serif;
$font__card: 'Montserrat', sans-serif;

// colors

$color__bg--light:#f5f5f5;
$color__bg--dark: #bfcdd0;
$color__footer__bg:#d8d8d8;

$color__brand1: #e17334;
$color__brand2: #114e4e;
$color__brand3: #a2deaf;
$color__text:#54585a; 
$color__dividers:#d8d8d8;
$color__white-two: #fff;

$--dirty-blue: #438792;
$--dried-blood: #420101;
$--rusty-red: #bd1010;
$--tomato: #e95626;
$--slate: #3e5b65;
$--faded-orange: #eab052;
$--light-grey-blue: #a0c0cf;
$--white-three: #d8d8d8;
$--white-two: #fff;
$--white-four: #f5f5f5;


  //radio-buttons:

  
  









