<form action="" class="dropdown">
	<fieldset class="dropdown__fieldset">
		<legend
			class="dropdown__header js-dropdown__design"
			title="Despliega la sección diseña"
		>
			<i class="dropdown__icon fa-solid fa-object-ungroup"></i>
			<h2 class="dropdown__title">Diseña</h2>
			<i class="dropdown__arrow fa-solid fa-chevron-down js-arrow__design"></i>
		</legend>
		<div class="js-content__design">
			<include src="./section-form-design.html"></include>
		</div>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<legend
			class="dropdown__header js-dropdown__fill"
			title="Despliega la sección rellena"
		>
			<i class="dropdown__icon fa-regular fa-keyboard"></i>
			<h2 class="dropdown__title">Rellena</h2>
			<i class="dropdown__arrow fa-solid fa-chevron-down js-arrow__fill"></i>
		</legend>
		<div class="js-content__fill collapsed">
			<include src="./section-form-fill.html"></include>
		</div>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<legend
			class="dropdown__header js-dropdown__share"
			title="Despliega la sección comparte"
		>
			<i class="dropdown__icon fa-solid fa-share-nodes"></i>
			<h2 class="dropdown__title">Comparte</h2>
			<i class="dropdown__arrow fa-solid fa-chevron-down js-arrow__share"></i>
		</legend>
		<div class="js-content__share collapsed">
			<include src="./section-form-share.html"></include>
		</div>
	</fieldset>


	<!-- <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
		Compartir en Twitter</a> -->
	
</form>
