<fieldset class="form__design">
	<h2 class="form__design__subtitle">Colores</h2>

	<div class="form__design__options js-btn-palletes">
		<label for="" id="colores" class="form__design__options-1">
			<input
				class="js-btn-pallete1"
				type="radio"
				name="colores"
				id="1"
				checked
			/>
			<div class="form__design__options-1-container">
				<div class="form__design__options-1-container--color1"></div>
				<div class="form__design__options-1-container--color2"></div>
				<div class="form__design__options-1-container--color3"></div>
			</div>
		</label>

		<label for="" id="colores" class="form__design__options-2">
			<input class="js-btn-pallete2" type="radio" name="colores" id="2" />
			<div class="form__design__options-2-container">
				<div class="form__design__options-2-container--color1"></div>
				<div class="form__design__options-2-container--color2"></div>
				<div class="form__design__options-2-container--color3"></div>
			</div>
		</label>

		<label for="" id="colores" class="form__design__options-3">
			<input class="js-btn-pallete3" type="radio" name="colores" id="3" />
			<div class="form__design__options-3-container">
				<div class="form__design__options-3-container--color1"></div>
				<div class="form__design__options-3-container--color2"></div>
				<div class="form__design__options-3-container--color3"></div>
			</div>
		</label>
	</div>
</fieldset>
