<section class="preview js-preview">
  <section class="preview_container">
    <button
      type="reset"
      class="preview__reset js-btn__reset"
      title="Pulsa el botón para resetear"
    >
      <i class="fa-regular fa-trash-can preview__reset__text"></i> RESET
    </button>

    <article class="preview__card">
      <div class="preview__card__text">
        <h2 class="preview__card__name js__preview_name">Nombre Apellido</h2>
        <h3 class="preview__card__job js__preview_job">Front-end developer</h3>
      </div>
      <div class="preview__card__pic js__profile-image"></div>
      <ul class="preview__card__social">
        <li>
          <a
            href=""
            class="preview__card__social__icons js__preview_tel"
            target="“_blank”"
            ><i class="fa-solid fa-mobile-screen-button"></i
          ></a>
        </li>
        <li>
          <a href="" class="preview__card__social__icons js__preview_email"
            ><i class="fa-solid fa-envelope"></i
          ></a>
        </li>

        <li>
          <a
            href=""
            class="preview__card__social__icons js__preview_linkedin"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a
            href=""
            class="preview__card__social__icons js__preview_github"
            target="_blank"
          >
            <i class="fa-brands fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </article>
  </section>
</section>
